* {
	outline: 1px dotted red;
	overflow: hidden;
}

body {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 200%;
	background: url("galaxy.jpg") 0px 60px no-repeat;
	background-size: cover;
	background-color: black;
	color: #ADF0F8;
	/*color: black;
	background: none;*/
}

/*
============================================
Header
============================================
*/

header {
	background: url("cosmos.png") 0px -24px no-repeat;
	background-size: 31%;
	font-size: 280%;
	color: #ADF0F8;
	margin-bottom: 7%;
}

header div {
	display: inline-block;
	float: right;
	margin: 3% 0%;
}

header div:first-child {
	margin-left: 12%;
	margin-right: 6%;
}

/*
============================================
Section - General
============================================
*/
section>div {
	display: inline-block;
	width: 50%;
	float: left;
	background: rgba(0,0,0,0.8);
	border: 0px solid black;
	border-radius: 5%;
	padding: 3%;
	margin-left: 25.5%;
	/*position: absolute;*/
}

section p, section h1 {
	color: #F6E498;
}

section span {
	color: #DF6035;	
}

section div div span {
	color: #ADF0F8;
}

/*section h1 {
	color: ;
}*/

/*
============================================
Section - Question
============================================
*/


section>div:first-child p {
	font-size: 200%;
}

li {
	text-decoration: none;
	font-size: 200%;
	padding-left: 25%;
	background: url("cosmos.jpg") no-repeat;
	background-size: contain;
}

li:hover {
	cursor: pointer;
	color: orange;
}

/*
============================================
Section - Answer
============================================
*/

section>div:nth-child(2) {
	display: none;
}

.answer {
	font-size: 150%;
}

.answer h1 {
	text-align: center;
	padding: 5% 0%;
	font-size: 200%;
	margin-top: 0%;
}

.answer>span {
	display: block;
	width: 75%;
	margin: 2% auto;
	text-align: center;
}

.answer p {
	margin-top: 2%;
}

.next {
	text-align: center;
}

.next span {
	/*background: rgba(0,0,0,0.4);*/
	padding: 0% 5%;
	border: 0px solid #F6E498;
	box-shadow: #DF6035 0px 0px 36px;
	background: rgba(223,96,53,.5);
	border-radius: 2px;
	color: white;
}

.next span:hover {
	cursor: pointer;
}

.next span:active {
	background: rgba(196,76,86, 0.4);
	box-shadow: rgb(196, 76, 86);
	color: #DF6035;
}

