* {
	/*outline: 1px dotted red;*/
	overflow: hidden;
}

body {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 200%;
	background: url("galaxy.jpg") 0px 104px no-repeat;
	/*background-size: cover;*/
	/*background-size: 130%;*/
	background-size: 10%;
	/*background-size: 0;*/
	background-color: black;
	color: #ADF0F8;
	-webkit-transition: all 3s 1s;
	-moz-transition: all 3s 1s;
	-ms-transition: all 3s 1s;
	-o-transition: all 3s 1s;
	transition: all 3s 1s;
	/*color: black;
	background: none;*/
}

/*
============================================
Header
============================================
*/

header {
	background: url("cosmos.png") 0px 0px no-repeat;
	background-size: contain;
	font-size: 120%;
	color: #ADF0F8;
	/*margin-bottom: 7%;*/
}

header div {
	display: inline-block;
	float: right;
	margin: 3% 0%;
}

header div:first-child {
	margin-left: 12%;
	margin-right: 6%;
}

/*
============================================
Section - General
============================================
*/

section {
	padding: 0% 12% 12% 12%;
}

section>div {
	display: inline-block;
	/*width: 50%;*/
	width: 100%;
	float: left;
	background: rgba(0,0,0,0.8);
	border: 0px solid black;
	border-radius: 65%;
	padding: 23%;
/*	border-radius: 5%;
	padding: 3%;*/
	/*margin-left: 25.5%;*/
	/*position: absolute;*/
}

section p, section h1 {
	color: #F6E498;
}

section span {
	color: #DF6035;	
}

section div div span {
	color: #ADF0F8;
}

/*section h1 {
	color: ;
}*/

/*
============================================
Section - Question
============================================
*/


section>div:first-child p {
	font-size: 200%;
	text-align: center;
}

li {
	text-decoration: none;
	font-size: 200%;
	padding-left: 25%;
	background: url("cosmos.jpg") no-repeat;
	background-size: 20%;
}

li:hover {
	cursor: pointer;
	color: orange;
}

/*
============================================
Section - Answer
============================================
*/

section>div:nth-child(2) {
	display: none;
}

.answer {
	font-size: 150%;
}

.answer h1 {
	text-align: center;
	padding: 5% 0%;
	font-size: 200%;
	margin-top: 0%;
}

.answer>span {
	display: block;
	margin: 2% auto;
	text-align: center;
}

.answer p {
	margin-top: 2%;
}

.answer>div {
	text-align: center;
}

.next {
	/*background: rgba(0,0,0,0.4);*/
	padding: 0% 5%;
	border: 0px solid #F6E498;
	box-shadow: #DF6035 0px 0px 36px;
	background: rgba(223,96,53,.5);
	border-radius: 2px;
	color: white;
}

.next:hover {
	cursor: pointer;
}

.next:active {
	background: rgba(196,76,86, 0.4);
	box-shadow: rgb(196, 76, 86);
	color: #DF6035;
}

/*
============================================
Section - Play Again
============================================
*/

.playAgain {
	text-align: center;
	display: none;
}

.playAgain h1 {
	font-size: 300%;
}

.playAgain p {
	font-size: 200%;
}

.playAgainButton {
	/*background: rgba(0,0,0,0.4);*/
	padding: 0% 5%;
	border: 0px solid #F6E498;
	box-shadow: #DF6035 0px 0px 36px;
	background: rgba(223,96,53,.5);
	border-radius: 2px;
	color: white;
	font-size: 200%;
}

.playAgainButton:hover {
	cursor: pointer;
}

.playAgainButton:active {
	background: rgba(196,76,86, 0.4);
	box-shadow: rgb(196, 76, 86);
	color: #DF6035;
}